html, body {
  --mdc-theme-primary: #005c5c;
  --mdc-theme-secondary: #002d4d;
  margin: 0;
  height: 100%;
  width: 100%;
}

#idframe {
  --mdc-theme-primary: #fff;
  padding: 0;
  align-items: start;
  padding-top: 12px;
  padding-right: 12px;
}

@media(max-width: 599px) {
  #idframe {
    padding-top: 8px;
    padding-right: 8px;
  }
}
